<p>
  Команда <%= @current_user.name %>
</p>

<%= partial 'my_games' %>

<br />

<%= partial 'shared/current_games' %>

<br />

<%= partial 'dashboard/coming_games' %>

<br />

<%= partial 'dashboard/finished_games' %>