<p>
  <%if ! @current_user.is_master%>
    Команда <%= @current_user.name%>
  <% end %>
</p>

<%= partial 'shared/current_games' %>

<br />

<% if @current_user.is_master%>
    <%= partial 'my_games' %>

    <br />
<% end %>

<%= partial 'dashboard/coming_games' %>

    <br />

<%= partial 'dashboard/finished_games' %>