<h2>Редактирование профиля команды <%= @current_user.name %></h2>
<br>

<%= error_messages_for @user, :header => "<h2>Ошибка</h2>" %>

<%= form_for @user, :action => resource(@user) do %>
  <p><%= text_field :name, :label => "Название команды" %></p>
  <p><%= text_field :phone_number, :label => "Контактный телефон"%></p>
  <br/>
  <p><%= text_field :password, :label => "Новый пароль" %></p>
  <p><%= text_field :password_confirmation, :label => "Подтверждение пароля" %></p>
  <%= submit "Принять изменения" %>
  <em><%= link_to "(отменить)", url(:users) %></em>
<% end =%>